@import 'bootstrap/dist/css/bootstrap.min.css';
body {
  display:grid;
  background: #ffffff;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
body{
  padding:0%;
  margin:0;
}
.profile-photo{
  width:100px;
  height:10px;
  margin:0;
}
#fullnamee{
  font-family:montserrat;
}
